{% extends 'mychat/main.html' %}
{% load static %}
    {% block content %}
    <main>

        <div id="room-name-wrapper">
            <p>Room Name:
            <span id="room-name"></span>
            </p>
        </div>
        <div id="video-streams">

            <div class="video-container" id="user-container-1">
                <div class="username-wrapper"><span class="user-name">My Name</span></div>
                <div class="video-player" id="user-1"> </div>
            </div>


        </div>
    </main>
        <script type="text/javascript" src="{% static 'js/streams.js' %}"></script>
    {% endblock content %}